@tailwind base;
@tailwind components;
@tailwind utilities;

body{ 
  background-color: #121212;
}
::-webkit-scrollbar-thumb {
    background-color: #424242 !important;
}
::-webkit-scrollbar {
    background-color: transparent !important;
}